@import "../../utilities/variables";

@include tablet{
    

    
            /* Img */
            #about-me-page-img{
                height: 20rem;
                width: 20rem;
                margin-bottom: 2rem;
                border-radius: 50%;
                border: 0.25rem solid map-get($colors, terciario );
            }
                
            
    
            /* Tittle */
            .about-me-page-tittle{
                width: 30rem;
                font-size: 7rem;
                box-shadow: 2rem 2rem map-get($colors, shadow );
    
                /* Bolder */            
                b{
                    font-weight: bolder;
                }
            }
    
        /* Text */
        .about-me-page-text{
            font-size: 1.6rem;
            line-height: 3rem;
            padding: 5rem ;
            text-align: left;

            b{
                font-size: 2rem;
            }
        }
}