@import "../mediaqueries";
@import "../../utilities/variables";


@include tablet{

    /* Contact Page */

    .contact-page{
        @include center-column;
        text-align: center;
        /* tittle */
        .contact-tittle{
            font-size: 7rem;
        }


                /* Name */
                .name-div{

                    .name-label{
                        font-size: 1.7rem;
                    }
                    .name-input{
                        width: 50rem;
                        height: 3rem;
                    }
                }
                /* Email */
                .email-div{
                    margin-top: 2rem;

                    .email-label{
                        font-size: 1.7rem;
                    }

                    .email-input{
                        width: 50rem;
                        height: 3rem;
                    }

                }
            

            /* Message */
            .message-div{
                margin-top: 2rem;

                .message-label{
                    font-size: 1.7rem;
                }

                .message-input{
                    width: 50rem;
                    margin: 1rem;
                }

            }
    }  
}