@import "../mediaqueries";
@import "../../utilities/variables";

@include tablet {

    
    
            
    /* subheadings */
    h2{
        font-size: 2rem;
    }
    
    .project-example-page-text{
    
        p{
            line-height: 40px;
            font-size: 1.5rem;
        }
    }
    
    
    img{
        margin: 3rem;
        height: 25rem;
    }
    
    div{
        h2{
            margin-left: 1rem;
        }
    
        p{
            line-height: 40px;
            font-size: 1.5rem;
        }
    }
    
}
