@import "./variables";



@mixin transition {
    transition: 600ms;
    box-shadow: 0 0 0 .5rem map-get($colors , shadow );
    transform: scale(1.08);
}

@mixin tittles{
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1.7rem;
    border-bottom: solid map-get($colors , secundario );
    font-weight: bolder;
    color: map-get($colors , secundario );
}

@mixin center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin center-row{
    display: flex;
    align-items: center;
    justify-content: center;
}