@import "../utilities/variables";

/* Header's styles */

header{
    background-color: map-get($colors , terciario );
    color: map-get($colors , primario );

    /* Taking out the text's colors */
    a{
        color: map-get($colors , primario );
    }
    
        
            /* Tittle's styles */
            #nav-tittle{
                font-family: "Kumbh Sans" ; 
                font-weight: bolder;
            }
            div{
                ul{
                    #nav-items-styles:hover{
                        display: inline-block;
                        background-color: map-get($colors , primario );
                        width: fit-content;
                        height: fit-content;
                        border-radius: 0.5rem;

                        /* Item's links styles */
                        #nav-items-link:hover{
                            display: inline-block;
                            color: map-get($colors , secundario );
                        }
                    }
                }
            }
    
}








/* Main's styles */

main{
    background-color: map-get($colors , primario );
    a{
    color: map-get($colors , secundario );
}
}






/* Footer */

footer{
    background-color: map-get($colors , secundario );
    color: map-get($colors , primario );
    height: fit-content;
    display: grid;
    grid-template-areas: 
    "link mail"
    "arr arr";

    /* text black */
    a{
    color: map-get($colors , primario );
    }

        /* LinkedIn's image + link */
        .linkedin-image-link{
            grid-area: link;
            margin-top: 2rem;
            margin-left: 2rem;
            width: fit-content;

            /* LinkedIn's image */
            .linkedin-image{
                height: 1.2rem ;
            }

        }
        
        /* Mail + Logo */
        .footer-mail-logo{
            grid-area: mail;
            width: fit-content;
            margin-top: 2rem;
            margin-left: 2rem;
    
            /* Mail logo */
            .mail-logo{
            height: 1rem;
            }
        }
    .all-rights-reserved{
        grid-area: arr;
        display: block;
        text-align: center;
    }
}
